extends layout

block content
  h1= title
  p Welcome to #[em Münster Cityguide]!
  p You get informations about sights in the City of Münster as well as suggestions for some nice citytours :)
  
  p There are a number of exciting sights an tours to explore:
  ul
    li #[strong Sights:] !{data.sight_count}
    li #[strong Citytours:] !{data.tour_count}
    
  p For further information see the menu on the left-hand side.
  p If you have more suggestions feel free to add them to our website!