extends layout

block content
  h1 #{title}


  form(method='POST' action='')
    div.form-group
      label(for='sightname') Sightname:
      input#sightname.form-control(type='text' name='name' required= 'true' value=(undefined===sight ? '' : sight.features[0].properties.name) )
      label(for='sightlink') Sightlink:
      input#sightlink.form-control(type='text' name='link' required= 'true' value=(undefined===sight ? '' : sight.features[0].properties.link) )
      label(for='sightcoordinates') SightCoordinates:
      input#sightcoordinates.form-control(type='text' name='coordinates' value=(undefined===sight ? '' : sight.features[0].geometry.coordinates[0]) )
    button.btn.btn-primary(type='submit') Submit


  #sight_form_mapid
  


  if errors
   ul
    for error in errors
     li!= error.msg